@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lobster&family=Mukta:wght@200;300;500;600&display=swap'));
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lobster&family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mukta:wght@200&family=Playfair+Display:ital,wght@1,800&family=Signika+Negative:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --accent-color: rgb(57, 66, 74);
    --background-color: #2D353D;
}

img {
    display: block;
    width: 100%;
}