.buttom {border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    font-weight:bold ;

}
.buttom :hover{
  background-color: transparent;
}
.button {border: 1px solid yellow;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: yellow;
    font-weight: bold;

}
.button :hover{
  background-color: white;
}
.button__your_forgotten_minutes {
  padding: 40px 0px 0px;
}
.button__buy_now_yfm {
  background-color: #feea8b;
  padding: 14px 20px;
  font-weight: 700;
  color:#2d353d;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px 16px;
}
.button__buy_now_yfm:hover {
  color:#2d353d;
}
.button__read_yfm {
  background-color: #545a5f;;
  padding: 5px 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px 16px;
}
.button__read_yfm:hover {
  color: #fff7d0;
}

a {
  text-decoration: none;
}
