.footer {
    background-color: #2d353d;
padding-top: 100px;
padding-bottom: 40px;
}




.footer__menu_item {
    display: block;
    color: rgb(255, 255, 255)
}

.footer_menu {
    margin-top: 10px;
    font-family: Mukta, sans-serif;
    font-size: 19px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;


}

.footer__menu_item:hover {
    color: #feea8b;
}


.rights {
    color: #9ea0a3;
    font-family: Mukta, sans-serif;
    font-family: 13px;


    
   
}

.created {
    color: rgb(131, 133, 136);
    font-family: 13px;
    text-align: center;

}

.all {
    color: rgb(131, 133, 136);
    font-family: 13px;
    text-align: center;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;


}

.footer_social {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;
}

.youtube {
  width: 30px;
}

.instagram {
    width: 30px;
    border:rgb(22, 22, 22) solid;
    border-radius: 50%;
}

.facebook {
    width: 25px;
    border:rgb(22, 22, 22) solid;
    border-radius: 50%;
}



@media (min-width: 1000px) {

    .rights {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20px;

    }
    .footer_social {
        display: flex;
        justify-content: center;



    }
}

@media (min-width: 1000px) {
    .footer_menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        margin-bottom: 30px;
}
}

