@media (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: rgb(57, 66, 74);
  font-family: Playfair Display,serif;
  
}
.header__rebecca_johansen {
  font-size: 100%;
  font-style: italic;
  color: #fff;
}
.header__nav {
  align-items: center;
  background-color: rgb(57, 66, 74);

  }
.navbar-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(57, 66, 74);

}
.container-fluid {
  align-items: center;
  background-color: rgb(57, 66, 74);

}
.header_link {
  font-size: inherit;
  color: #fff;
  padding: 10px 16px;
}
.header_link-special {
  font-size: inherit;
  color: #2d353d;
  background-color: #feea8b;
  padding: 10px 16px;
}
a {
  text-decoration: none;
}