.header {
  background-color: rgb(57, 66, 74);
  font-family: Playfair Display,serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
      }

.header__rebecca_johansen {
  padding: 35px 35px;
  }
h1 {
  font-style: italic;
  color: #fff;
  font-size: 35px;
}
.header__nav {
  display: block;
  
  }

.header__nav_menu_item {
  padding: 0px 10px;
  font-size: 25px;
  color: #fff;
 }
 .header__nav_menu_item-special {
   background: rgb(252, 178, 20);
   padding: 10px 10px;
   font-size: 25px;
   color:  rgb(57, 66, 74);
 }

 a {
   text-decoration: none;
 }