.header {
  background-color: var(--accent-color);
  font-family: Playfair Display,serif;
  display: flex;
  justify-content: space-between;
  min-width: 200px;
      }

.header__rebecca_johansen {
  padding: 35px 35px;
  }
h1 {
  font-style: italic;
  color: #fff;
  font-size: 35px;
}
.header__nav {
  display: flex;
  align-items: center;
  }

.header__nav_menu_item {
  padding: 0px 20px;
  font-size: 25px;
  color: #fff;
 
}