.h3__interview_title {
    font-size: 31px;
    font-family: 'Playfair Display';
    color: rgb(45, 53, 61);
    line-height: 43.125px;
    font-weight: 900;
    padding-top: 90px;
    padding-bottom: 30px;
}

.p__interview_text {
    font-size: 19px;
    font-family: 'Mukta', sans-serif;
    color: rgb(157, 159, 163);
    line-height: 28.5px;
    padding-bottom: 40px;
    display: flex;
    margin-top: 0;
    margin-bottom: 1rem;
}

.line1 {
    border-bottom: solid 1px black;
    margin-bottom: 50px;
    margin-right: 230px;
    margin-top: -20px;
}

.line2 {
    border-bottom: solid 1px black;
    margin-bottom: 20px;
    margin-top: -43px;
    margin-left: 80px;
    margin-right: 140px;
}

.interview_part {
    padding-left: 30px;
}

.button_interview {
    border: 5px;
    color: rgb(45, 53, 61);
    background-color: #feea8b;
    font-weight: 700;
    display: block;
    width: 150px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    box-shadow: 8px 5px 5px grey;
}

.button_get {
    border: 5px;
    color: rgb(45, 53, 61);
    background-color: #feea8b;
    font-weight: 700;
    line-height: 40px;
    display: block;
    margin: 16px 0px;
    font-size: 13px;
    box-shadow: 5px 5px 5px grey;
}

.button_get:hover {
    background-color: rgb(243, 239, 189);
    color: black;
}

.button_interview:hover {
    background-color: rgb(243, 239, 189);
    color: black;
}

.interview_rebecca {
    font-weight: 300;
    font-size: 19px;
    border: rgb(157, 159, 163);
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
}

.other_book__title {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.container {
    margin: auto;
    background-color: rgb(243, 243, 243);
    min-height: 500px;
}

.rock_text {
    font-size: 22px;
    font-family: 'Playfair Display';
    font-weight: 500;
}

.days_text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 23px;
}

.survivor_text {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.tandem_text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 23px;
}

.rock {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.days {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.survivor {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.tandem {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.watch {
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    font-size: 19px;
    color: rgb(235, 232, 232);
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: rgba(45, 53, 61, 0.65);
    margin-bottom: 100px;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 10px;
}

.books_block {
    display: block;
    background-image: url(../img/background-books.png);
    background-size: cover;
    padding-bottom: 80px;
}

.other_book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rock_text {
    font-size: 22px;
    font-family: 'Playfair Display';
    font-weight: 500;
}

.other_book_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.days_text {
    font-size: 22px;
    font-family: 'Playfair Display' serif;
    font-weight: 500;
}

.other_book_3 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other_book_4 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curvivor_text {
    font-size: 22px;
    margin-left: 80px;
}

.tandem_text {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.learn {
    color: black;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}

.learn:hover {
    text-decoration: underline;
    color: black;
}

.learn_1 {
    color: black;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}

.learn_1:hover {
    text-decoration: underline;
    color: black;
}

.learn_2 {
    color: black;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}

.learn_2:hover {
    text-decoration: underline;
    color: black;
}

.learn_4 {
    color: black;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}

.learn_4:hover {
    text-decoration: underline;
    color: black;
}

.book_input {
    background-color: white;
    display: block;
    padding: 60px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background {
    padding-top: 150px;
    padding-bottom: 150px;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(5, 5, 5, 0.5), rgba(39, 61, 61, 0.5)), url(../img/background-rebecca.jpeg);
}

.book_title {
    font-size: 31px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.paragraph {
    font-size: 19px;
    color: #9d9fa3;
    word-spacing: 5px;
    font-family: 'Mukta', sans-serif;
    margin-top: 40px;
}

.input_text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form_field {
    margin: 10px 0px;
}

.name {
    padding: 10px;
    background-color: rgba(45, 53, 61, 0.12);
    font-family: Mukta;
    font-size: 14px;
    border: none;
}

.phone {
    padding: 10px;
    font-family: Mukta;
    font-size: 14px;
    background-color: rgba(45, 53, 61, 0.12);
    border: none;
}

.e-mail {
    padding: 10px;
    font-family: Mukta;
    font-size: 14px;
    background-color: rgba(45, 53, 61, 0.12);
    border: none;
}

.bottom_book {
    border: 5px;
    color: rgb(45, 53, 61);
    background-color: #feea8b;
    font-weight: 700;
    line-height: 40px;
    display: block;
    margin: 16px 0px;
    font-size: 13px;
}

.bottom_book:hover {
    background-color: rgb(243, 239, 189);
    color: black;
}

.countdown {
    margin-top: 50px;
    justify-content: space-around;
    font-family: 'Mukta', sans-serif;
}

.border_countdown {
    border-bottom: solid 1.5px #feea8b;
    height: 10px;
}

span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-family: Mukta bold;
}

.form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form_field.error {
    border: 1.5px solid rgb(213, 116, 116);
}

.created {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.all {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    color: rgb(131, 133, 136);
    font-weight: bold;
}

.rights {
    margin-left: 40px;
}

.footer_social {
    margin-bottom: 20px;
}

@media (min-width: 900px) and (max-width: 2000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .block {
        width: 550px;
        padding-top: 20px;
        padding-bottom: 10px;
        height: 400px;
        padding-left: 20px;
    }

    .interview_rebecca {
        width: 500px;
        height: 350px
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .inline_books {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) and (max-width: 2000px) {
    .inline_books {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) and (max-width: 2000px) {
    .inline_books {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 800px) and (max-width: 2000px) {
    .countdown {
        display: flex;
    }
}

@media (min-width: 770px) and (max-width: 1200px) {
    .book_input {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .book_input {
        margin-left: 350px;
        margin-right: 350px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .book_input {
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1600px) and (max-width: 1800px) {
    .book_input {
        margin-left: 550px;
        margin-right: 550px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}







