
.h3__interview_title {
 font-size: 31px;
 font-family: 'Playfair Display';
 color: rgb(45, 53, 61);
 line-height: 43.125px;
 font-weight: 900;
 padding-top: 90px;
 padding-bottom: 30px;
 margin-left: 20px;
}

.p__interview_text {
    font-size: 19px;
    font-family: 'Mukta', sans-serif;
    color: rgb(157, 159, 163);
    line-height: 28.5px;
    padding-bottom: 40px;
    padding-left: 5px;
    margin-left: 15px;
    display: flex;


}

.button_interview {
    border: 5px; solid #feea8b;
    color:rgb(45, 53, 61);
    background-color: #feea8b;
    font-weight: 700;
    display: block;
    width: 155px;
    line-height: 40px;
    text-align: center;
    top: 40px;
    left: 300px;
    margin-top: 50px;
    margin-left: 30px;
    font-family: 'Playfair Display';
    font-size: 13px;
    margin-bottom: 90px;



}

.button_interview:hover {
    background-color: rgb(243, 239, 189);
    color: black;
    
}

.interview_rebecca {
    width: 270px;
    height: 170px;
   font-weight: 300;
   font-size: 19px;
   border:rgb(157, 159, 163);
   margin-left: 20px;

}

.other_book__title {
    font-family: Playfair Display; serif;
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.container {
    margin: auto;
    background-color: rgb(243, 243, 243);
    min-height: 500px;
    min-width: 2000px;
}

.rock_text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 23px;
}
.days_text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 23px;
}

.curvivor_text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 23px;
}

.tandem_text {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 23px;
}

.rock {
    width: 300px;

}

.days {
    width: 300px;
    
}

.survivor {
    width: 300px;
}

.tandem {
    width: 300px;
}

.watch {
 font-family: 'Mukta', sans-serif;
 font-size: 19px;
 box-sizing: border-box;
 font-size: 19px;
 color: rgb(235, 232, 232);
 font-weight: 300;
 margin-top: 20px;
 margin-left: 40px;
 margin-bottom: 40px;
}

.block {
    background-color: rgba(45, 53, 61, 0.65);
    padding-top: 20px;
    margin-bottom: 100px;
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 10px;
    width: 300px;


}

.books_block {

    display: block;
    background-image: url(../img/background-books.png);
    background-size: cover;
    padding-bottom: 80px;
    
}

.inline_books {
  
}

.other_book_1 {
margin-left: 10px;
}

.rock_text {
    margin-left: 60px;
    font-size: 22px;
    font-family: 'Playfair Display';

}

.other_book_2 {
    margin-left: 10px;
} 

.days_text {
    font-size: 22px;
    margin-left: 80px;
    font-family: 'Playfair Display' serif;

}

.other_book_3 {
    margin-left: 10px;
}

.other_book_4 {
    margin-left: 10px;
}

.curvivor_text {
    font-size: 22px;
    margin-left: 80px;
}

.tandem_text {
    font-size: 22px;
    margin-left: 110px;

}
.learn {
    color: black;
    font-size: 14px;
    margin-left: 115px;
    font-family: 'Mukta', sans-serif;

}

.learn:hover {
    text-decoration: underline;
    color: black;

}
.learn_1 {
    color: black;
    font-size: 14px;
    margin-left: 115px;
    font-family: 'Mukta', sans-serif;
}

.learn_1:hover {
    text-decoration: underline;
    color: black;
}

.learn_2 {
    color: black;
    font-size: 14px;
    margin-left: 115px;
    font-family: 'Mukta', sans-serif;
}

.learn_2:hover {
    text-decoration: underline;
    color: black;

}

.learn_4 {
    color: black;
    font-size: 14px;
    margin-left: 115px;
    font-family: 'Mukta', sans-serif;
}

.learn_4:hover {
    text-decoration: underline;
    color: black;

}

.book_input {
    background-color: white;
    display: block;
    padding-top: 60px;
 padding-bottom: 60px;
 padding-left: 15px;
 text-align: center;
 margin-left: 50px;
 margin-right: 50px;
margin-top: 10px;
margin-bottom: 10px;

}

.background {
    padding-top: 150px;
    padding-bottom: 150px;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(5, 5, 5, 0.5), rgba(39, 61, 61, 0.5)), url(../img/background-rebecca.jpeg);
}

.book_title {
    font-size: 31px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.paragraph {
    font-size: 19px;
    color: #9d9fa3;
    word-spacing: 5px;
    font-family: 'Mukta', sans-serif;
    margin-top: 40px;
}

.input_text {
    margin-top: 40px;
}

.name {
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    background-color: rgba(45, 53, 61, 0.12);
    font-family: Mukta;
    font-size: 14px;    
    border: none;

}
.phone {
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    font-family: Mukta;
    font-size: 14px;
    background-color: rgba(45, 53, 61, 0.12);
    border: none;



}

.e-mail {
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    font-family: Mukta;
    font-size: 14px;
    background-color: rgba(45, 53, 61, 0.12);
    border: none;

}

.bottom_book {
    border: 5px; solid #feea8b;
    color:rgb(45, 53, 61);
    background-color: #feea8b;
    font-weight: 700;
    display: flex;
    width: 200px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin-top: 60px;
    margin-left: 35px;
    font-size: 13px;
}

.bottom_book:hover {
    background-color: rgb(243, 239, 189);
    color: black;
}
.countdown {
    margin-top: 50px;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 100px;
    border-bottom: 1px solid #feea8b;
    font-family: 'Mukta', sans-serif;
}

span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    font-family: Mukta bold;
    
}

.created {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-weight: bold;

}

.all {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    color: rgb(131, 133, 136);
    font-weight: bold;

}

.rights {
    margin-left: 40px;
}

.footer_social {
    margin-bottom: 20px;
}

@media (min-width: 800px) and (max-width: 2000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .block {
        width: 550px;
        padding-top: 20px;
        padding-bottom: 10px;
        height: 400px;
    
        }
    .interview_rebecca {
        width: 500px;
    height: 300px
    }
}


@media (min-width: 700px) and (max-width: 900px) {
    .inline_books {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width: 900px) and (max-width: 2000px) {
    .inline_books {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 800px) and (max-width: 2000px) {
    .book_input  {
        width: 600px;
        height: 700px;
    }
    .countdown {
        display: flex;
    }
}






