.interview_part {

    border-bottom-color: rgb(45, 53, 61);
}

.h3__interview_title {
  font-size: 30px;
  font-family: 'Playfair Display' serif;
  color: rgb(45, 53, 61);
  text-align: left;
 line-height: 43.125px;
 font-weight:bold;
 padding-bottom: 20px;
}

.p__interview_text {
    font-size: 19px;
    font-family: 'Mukta Light' serif;
    color: rgb(157, 159, 163);
    text-align: left;
    line-height: 28.5px;
    padding-bottom: 40px;
}

.button-interview {
    border: 5px; solid #feea8b;
    color:rgb(45, 53, 61);
    background-color: #feea8b;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
    width: 200px;
    line-height: 40px;
    text-align: center;
    
}

.button-interview:hover {
    background-color: rgb(243, 239, 189);
}

.interview_rebecca {
    width: 352px;
height: 201.305px;
   font-weight: 300;
   font-size: 19px;
   text-align: center;
}

.other_book__title {
    font-family: Playfair Display; serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

.container {
    max-width: 960px;    
    margin: auto;
}

.rock {
    width: 392px;

}

.days {
    width: 392px;
}

.survivor {
    width:392px;
}

.tandem {
    width: 392px;
}