.section__block_store {
    background-image: url(../img/background-brand.png);
    font: inherit;
    vertical-align: baseline;
    display: block;
    min-width: 320px;
}
.h2__store {
    font-family: Playfair Display, serif;
    font-size: 32px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}
.img__amazon, .img__indi_bound, .img__barnes_noble, .img__baker_taylor {
    background-color: var(--background-color);
    background-size: auto;
    background-attachment:scroll;
    height: 172px;
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}